.hero{
    background-image: url(images/background2.jpg);
    background-size: cover;
    text-align: center;
    padding: 70px;
    color: #fff;
    
}
span{
   
    line-height: 160px;
}
.intro{
    padding: 150px;
}
.jumbotron{
    background-color: #fff;
    text-align: center;
    line-height:35px;
}
h1{
    font-weight: bolder;
    text-align: center;
}
.service{
    background-image: url(images/background3.jpg.jpg);
    background-size: cover;
    padding:130px;
    color: #fff;
}
.row{
    text-align:center;
    padding: 50px;
}
.portfolio{
    margin: 2% 8%;
}
.fom{
    margin:35px 100px;
    background-color:transparent;
    color: #fff!important;
}
.labal{
    margin: 45px 110px;
    padding: 15px 250px 250px 15px;
     background-color:  transparent;
     color:blue;
}
.name{
    background-color:transparent;
}
.contact{
    background-image: url(images/background1.jpg)
}
.container{
    text-align: center;
    padding:30px;
}
button{
    display: block;
    margin: 0 auto;
    padding: 15px 50px;
    border: none;
    border-radius:25px;
    background-color:rgb(209, 155, 84);
    transition: all 200ms ease-in-out;
}
button:hover{
    background-color:#fff;
    color:rgb(209, 155, 84);
    cursor: pointer;
}