.hero{
    background-image: url(images/background2.jpg);
    background-size: cover;
    text-align: center;
    padding: 70px;
    color: #fff;
    
}
span{
   
    line-height: 160px;
}
.intro{
    padding: 150px;
}
.jumbotron{
    background-color: #fff;
    text-align: center;
    line-height:35px;
}
h1{
    font-weight: bolder;
    text-align: center;
}
.service{
    background-image: url(images/background3.jpg.jpg);
    background-size: cover;
    padding:130px;
    color: #fff;
}
.row{
    text-align:center;
    padding: 50px;
}
.portfolio{
    margin: 2% 8%;
}
.fom{
    margin:35px 100px;
}
.labal{
    margin: 45px 110px;
    padding: 10px 250px 250px 10px;
}